* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cart-container {
  margin-bottom: 70vh;
  height: auto;
}
.cart-container .row {
  padding: 1%;

}
.cart-container .columns {
  border: 1px solid white;
  min-height: 60vh;
}
.empty-container {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.total-column {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: justify;
}
.cart-container .columns .items {
  margin-top: 10vh;
  height: 30vh;
  display: flex;
  background-color: white;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.image-container img {
  width: 200px;
  height: 200px;
}
.description-container {
  display: none;
}

/* CSS */
.place-order button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.place-order button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.place-order button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.place-order button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.place-order {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.place-order button {
  width: 200px;
  height: 50%;
}
.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.increment-container {
  width: 100%;
  display: flex;
    justify-content: space-around;
  margin-top: 30px;
}
.decrementBtn{
  padding: 2px 7.5px;
  border-radius: 60%;
  background-color: transparent;
}
.increment-container span .incrementBtn {
  padding: 1px 7px;
  border-radius: 60%;
  background-color: transparent;
}
.increment-container .remove {
  
  border: none;
  background-color: transparent;
}


/* CSS */
.gotoLogin {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.gotoLogin:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.gotoLogin:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.gotoLogin:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.gotoLogin:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.gotoLogin:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.gotoLogin:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.gotoLogin:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.gotoLogin:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.total {
  width: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 20px;
  height: 60%;
}
.price-details {
  height: 80%;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price-details div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}
.price-details span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/**********/
@media screen and (max-width: 576px) {

  .total{
   
    margin-top: 150px;
  }
  .detail-container {
   display: none;
  }

  .image-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .image-container img {
    width: 120px;
    margin-right: 10px;
  }
  .button-container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .description-container {
    display: unset;
    width: 200px;
    height: 90%;
    text-align: left;
    padding: 10px;
  }

  .increment-container {
    width: 100%;
    justify-content: flex-start;
  }
  .increment-container span {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }
  .increment-container .remove {
    margin-left: 20px;
    border: none;
    background-color: transparent;
  }
  .image-container {
    padding: 0;
  }
  .image-container img {
    width: 150px;
    height: 150px;
  }
  .increment-container {
    justify-content: space-between;
  }
}
