#main {
  min-height: 100vh;
  background-color: #f1f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
  position: relative;
}
#main .container .row {
  height: 100%;
}
#main .container .img-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#main .container .img-column .card .card-image {
  height: 100%;
}

#main .container .img-column .card #product-card-body {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
#main .card {
  height: 70%;
}

#main .text-column {
  display: flex;

  flex-direction: column;
  justify-content: center;
}
#main .text-column div {
  height: 70%;

  text-align: left;
  display: inline-block;
  height: auto;
}
.text-column-container h2 {
  margin-top: 100px;
}

.text-column-container .price {
  margin-top: 30px;
}

#main .text-column div .price {
  color: green;
}
#main .text-column div .price span {
  font-size: 20px;
  text-decoration: line-through;
  color: red;
}
#main .text-column div h3 {
  margin-top: 40px;
}
#main .text-column div span {
  text-align: justify;
}

#product-card-body .product-btns {
  background-color: #a74bfd;
  border: none;
}
#product-card-body .product-btns:hover {
  background-color: #a32cc4;
}

.text-column .wishlist-icon {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 2em;
  cursor: pointer;
  color: rgb(43, 38, 38);
}

.text-column .fill {
  display: none;
  color: red;
  transform: scale(1.2);
}


@media screen and (min-width: 576px) {
  #main .container .img-column .card #product-card-body {
    position: static;
  }
  #main .container .img-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #main .text-column div h2 {
    margin-top: 20px;
  }
}
/* Media query for medium screens */
@media screen and (min-width: 768px) {
  #main .container {
    min-height: 80vh;
  }
}

/* Media query for large screens */
@media screen and (min-width: 992px) {
}

/* Media query for extra-large screens */
@media screen and (min-width: 1200px) {
}
