.cardtext {
  display: none;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  
}
#container .row{
    display: flex;
    width: 100%;

}
.product-card:hover{
  transform: scale(1.06);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.232);
}

/***************************/
/* media queries */

@media screen and (min-width: 390px) {
}

/* Media query for small screens */
@media screen and (min-width: 576px) {
}

/* Media query for medium screens */
@media screen and (min-width: 768px) {
}
.cardtext {
    display: unset;
  }
/* Media query for large screens */
@media screen and (min-width: 992px) {
}

/* Media query for extra-large screens */
@media screen and (min-width: 1200px) {
}
