* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
#home-container {
  min-height: auto;
}
#products {
  margin-top: 10px;
  height: 140vh;
}
#home {
  background: url(./images/pexels-pixabay-459976.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
#carousel {
  display: none;
}

.description-text {
  display: none;
}
.card-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 15vh;
  bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}
.card-container::-webkit-scrollbar {
  display: none;
}

.category-card {
  width: 15rem;
  flex-shrink: 0;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.43) !important;
  cursor: pointer;
  height: 80%;
}

.card-image {
  background-color: #f9f9f97b;
}

.category-card:hover {
  background-color: rgb(255, 255, 255) !important;
}
.card-image:hover {
  background-color: #f9f9f9;
}

/* Your default styles for the cards */
#products .cards {
  margin-top: 10px;
}

#products .cards .cardtext {
  display: none;
}
#cards-big {
  display: none;
}

#products .card-title {
  font-size: 1.9vh;
}

.category {
  height: 50vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.scroll-list div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.scroll-list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  min-height: 30vh;
  margin-bottom: 80px;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll-list::-webkit-scrollbar {
  display: none;
}
.scrollbar-text {
  font-size: 10px;
}

.scroll-list div img {
  border-radius: 50%;
  height: 140px;
  width: 140px;
}
.scroll-list .scroll-items {
  margin-left: 10px;
  margin-right: 25px;
}

.category {
  position: relative;
}
.category div:hover::after {
  display: unset;
}

/*Featured products styles*/
.featured-product-list .card {
  height: 18rem;
}
.toys-category {
  padding: 42px;
}

.category #column3 h4 {
  position: relative;
  right: 8%;
  bottom: 6%;
  z-index: 9;
}
.category #column4 h4 {
  position: relative;
  right: 8%;
  bottom: 6%;
  z-index: 9;
}
#column1:hover::after {
  display: unset;
}

#home-poster {
  display: flex;
  justify-content: center;
}

#home-poster .home-poster-images {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 40px;
  width: 90%;
  min-height: 75vh;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#home-poster .poster-1 {
  display: none;

  background-image: url("./images/Toys-banner.png");
}
#home-poster .poster-1-mobile {
  background-image: url("./images/Blue\ White\ Kids\ Baby\ Shop\ Poster.png");
  width: -webkit-fill-available;
}
#home-poster .poster-2 {
  display: none;
  background-image: url("./images/Colorful\ Funny\ Toys\ Store\ Promotion\ Banner.png");
}

#home-poster .poster-2-mobile {
  background-image: url("./images/cloth-mobile.png");
  width: -webkit-fill-available;
}

#three-feature-container {
  margin-top: 10vh;
  padding: 20px;
}
#three-feature-container .three-features {
  background-color: rgba(225, 225, 225, 0.633);
  min-height: 250px;
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 24px;
  overflow: hidden;
}
#three-feature-container .three-features .feature-icons {
  font-size: clamp(1rem, 3rem + 3.032vw, 4rem);
  color: #9715ba;
}
#three-feature-container .three-features h2 {
  margin-top: 20px;
}

/* css animation for feature icons */

#three-feature-container .feature-1:hover .icon-1 {
  animation: delivery 1s linear 1;
}

#three-feature-container .feature-2:hover .icon-2 {
  transform: scale(1.2);
  transition: transform 0.2s;
}
#three-feature-container .feature-3:hover .icon-3 {
  animation: rotate-star 0.5s linear 1;
}
/***************************/
/* media queries */

@media screen and (min-width: 390px) {
  #products {
    margin-top: 10px;
    height: 160vh;
  }

  .category img {
    height: 150px;
    width: auto;
  }
}

/* Media query for small screens */
@media screen and (min-width: 576px) {
  .category-card {
    width: 22rem;
  }
  .card-container {
    height: 20vh;
  }
  #products .card-title {
    font-size: 2.5vh;
  }
  #home-poster .poster-2-mobile {
    display: none;
  }
  #home-poster .poster-2 {
    display: unset;
    /* margin-left: 0px; */
    margin-top: 183px;
    transform: scale(1.2);
  }
  #home-poster .poster-1 {
    display: unset;
    transform: scale(1.2);
  }
  #home-poster .poster-1-mobile {
    display: none;
  }

  #products {
    margin-top: 10px;
    height: 200vh;
  }

  .scroll-list {
    height: 40vh;
  }

  .category img {
    height: 150px;
  }
  .scrollbar-text {
    font-size: 14px;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 768px) {
  .category-card {
    height: 80%;
  }
  .card-container {
    bottom: 50px;
  }
  .description-text {
    display: unset;
  }

  #products .card-title {
    font-size: 3vh;
  }

  #cards-big {
    display: unset;
  }

  #products {
    margin-top: 10px;
    height: 200vh;
  }

  .scroll-list div img {
    height: 200px;
    width: 70%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 992px) {
  #products .cards .cardtext {
    display: unset;
  }

  #products .card-title {
    font-size: 3.5vh;
  }

  #products {
    margin-top: 10px;
    height: 250vh;
  }

  .category img {
    height: 100%;
  }

  .scroll-list div img {
    width: 80%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1200px) {
  #products .cards .cardtext {
    display: unset;
  }
  #products .card-title {
    font-size: 4vh;
  }
  #carousel {
    display: unset;
  }
  #home {
    background: none;
  }
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#home-category .category {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .main-container {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.title {
  color: #92989f;
  letter-spacing: 0.3px;
  font: 600 18px/133% Jost, sans-serif;
}

.service-list,
.support-list,
.company-list,
.legal-list {
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.3px;
  margin-top: 32px;
  font: 400 16px/40px Jost, sans-serif;
}

.newsletter-content {
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.3px;
  margin-top: 26px;
  font: 400 16px/24px Jost, sans-serif;
}

.email {
  display: flex;
  /* margin-top: 34px; */
  justify-content: space-between;
  gap: 8px;
}

.email-input {
  color: #92989f;
  letter-spacing: 0.3px;
  border-radius: 8px;
  border: 1px solid #b3bdc7;
  background-color: #fff;
  flex-grow: 1;
  justify-content: center;
  align-items: start;
  padding: 14px 60px 14px 15px;
  font: 400 16px/150% Jost, sans-serif;
}

@media (max-width: 991px) {
  .email-input {
    padding-right: 20px;
  }
}

.subscribe {
  color: #fff;
  text-align: center;
  letter-spacing: 0.3px;
  white-space: nowrap;
  border-radius: 8px;
  justify-content: center;
  padding: 14px 26px;
  font: 400 16px/150% Jost, sans-serif;
}

@media (max-width: 991px) {
  .subscribe {
    white-space: initial;
    padding: 0 20px;
  }
}

@keyframes delivery {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(200%);
  }
  75% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(350%);
  }
}

@keyframes rotate-star {
  0%,
  25% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
