#Userdetails-container{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Userdetails-container .table{
    height: 60%;
    width: 80%;
}