#search-container {
  min-height: 100vh;
}

#search-container .search {
  height: auto;
  display: flex;
  background-color: #f1f3f6;
  padding: 0;
}
.filter-container-search {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 10vh;
  align-items: center;
}
#search-container .container .cards {
  background-color: rgb(207, 244, 225);
  height: auto;
  margin-bottom: 50px;
}

.cards .row .columns {
  background-color: rgb(238, 222, 231);
  height: 50vh;
  border: 1px solid black;
  padding: 1%;
  text-align: left;
  position: relative;
}
.cards .image-container {
  width: 100%;
}
.cards .card-image {
  width: 100%;
  height: 50%;
}

.text-container h4 {
  margin-top: 5px;
  font-weight: 500;
}

.text-container p span {
  color: rgb(151, 138, 138);
  size: 5px;
  text-decoration: line-through;
}

#Search-side-nav {
  height: 100vh;
  max-width: 300px;
  background-color: black;
}

/***************************/
/* media queries */

@media screen and (min-width: 390px) {
  .text-container {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: none;
    width: 100%;
  }
  .image-container:hover ~ .text-container {
    display: unset;
  }
}

/* Media query for small screens */
@media screen and (min-width: 576px) {
}

/* Media query for medium screens */
@media screen and (min-width: 768px) {
}

/* Media query for large screens */
@media screen and (min-width: 992px) {
  .cards .row .columns {
    margin-bottom: 50px;
    height: 33.33vh;
  }

  .cards .image-container {
    width: 26%;
  }

  .cards .card-image {
    width: 100%;
    height: 100%;
  }
  .cards .row .columns {
    display: flex;
  }
  .cards .row .columns .description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    max-width: 60%;
    overflow: auto;
  }
  .cards .row .columns .description-container::-webkit-scrollbar {
    display: none;
  }

  .image-container:hover ~ .text-container {
    display: none;
  }
  #search-container .container .cards {
    margin-top: 60px;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1200px) {
}
