* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
#body {
  background: url("./images/8683985.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  #body {
    background-size: auto 100%;
  }
}
#body .container {
  height: 100vh;
  border-radius: 15px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
}
#body .main .auth-container {
  border-radius: 15px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
}
.main {
  background-color: #ffffffbe;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.form-container-child {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body .main .select-container {
  margin-top: 50px;
  width: 80%;
  min-height: 7em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.select-container .button {
  width: 40%;
  height: 60%;
  font-weight: 300;
  background-color: #af69ef;
  overflow: hidden;
  border: none;
}
.select-container .button:hover {
  background-color: red;
}

.button .user-icons {
  margin-right: 10px;
}
#body .main form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#body .auth-container form input {
  min-width: 100%;
}
form .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 60%;
}
form input {
  height: 15%;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.175);
}
.form-container-child .button {
  min-height: 5em;
  border-radius: 10px;
  font-weight: 600;
  background-color: #af69ef;
  border: none;
}
.form-container-child .button:hover {
  background-color: #a32cc4;
}
.button .signup-icon {
  margin-right: 10px;
}

@media screen and (min-width: 546px) {
  #body .main .select-container {
    margin-top: 0px;
    width: 80%;
    min-height: 7.5em;
  }
  #body .container {
    height: 90%;
  }
  form .form-inputs {
    min-height: 70%;
  }
}

/*

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
#body {
  background: url("./images/8683985.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  #body {
    background-size: auto 100%;
  }
}

#body .container {
  height: 100vh;
  border-radius: 15px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
}
.main {
  background-color: #ffffffbe;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.form-container-child {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body .main .select-container {
  margin-top: 50px;
  width: 80%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.select-container .button {
  width: 40%;
  height: 60%;
  font-weight: 300;
  background-color: #af69ef;
  overflow: hidden;
  border: none;
}
.select-container .button:hover {
  background-color: #a32cc4;
}

.button .user-icons {
  margin-right: 10px;
}
#body .main form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#body .container form input {
  min-width: 100%;
}
form .form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}
form input {
  height: 15%;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.175);
}
.form-container-child .button {
  height: 12%;
  border-radius: 10px;
  font-weight: 600;
  background-color: #af69ef;
  border: none;
}
.form-container-child .button:hover {
  background-color: #a32cc4;
}
.button .signup-icon {
  margin-right: 10px;
}

@media screen and (min-width: 546px) {
  #body .main .select-container {
    margin-top: 0px;
    width: 80%;
    height: 20%;
  }
  #body .container{
    height: 90%;
  }
}


*/
